[Desktop Entry]
Type=Application
Exec=sudo /usr/bin/hgr-server
NoDisplay=false
Hidden=false
Name[es_ES]=hgr-server
Comment[es_ES]=Sin descripción
Icon=/usr/share/icons/cga-hgr-server.svg
Categories=Education;Utility
